<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
Welcome Section

<form class="form-horizontal" role="form" action="/registerSection" method="post">
    Section username: <input type="text"  name="name" placeholder="name">
    Section user surname: <input type="text"  name="surname" placeholder="surname">
    Section login: <input type="text"  name="login" placeholder="login">
    Section password: <input type="text"  name="password" placeholder="password">
            <button type="submit" class="btn btn-brown">
                Register
            </button>
</form>

</body>
</html>